requests
huggingface-hub
cssselect2
colorama
pip
python-doctr
python-dotenv
torch
torchvision
jinja2
urllib3
sympy
pillow
networkx
numpy
filelock
certifi
charset-normalizer
idna
MarkupSafe
mpmath
tqdm
fsspec
typing-extensions
pyyaml
packaging
tinycss2
urllib3
uvicorn
webencodings
weasyprint
zipp
scipy
matplotlib
opencv-python
fastapi
rapidfuzz
six
unidecode
starlette
sniffio
Shapely
setuptools
python-dateutil
pyphen
pypdfium2
pymongo
mplcursors
langdetect
importlib-metadata
h5py
html5lib
fonttools
defusedxml
kiwisolver
dnspython
cycler
cffi
click
anyio
exception-group
pyclipper
pyparsing
pycairo
protobuf
pydantic
pydyf